[submodule "DIO-Simulador-corrida-mario-kart"]
	path = DIO-Simulador-corrida-mario-kart
	url = https://github.com/LPATROCINIO69/DIO-Simulador-corrida-mario-kart.git
[submodule "03-simulador-corrida-mario"]
	path = 03-simulador-corrida-mario
	url = https://github.com/LPATROCINIO69/DIO-Simulador-corrida-mario-kart.git
[submodule "DIO-shopee-cart"]
	path = DIO-shopee-cart
	url = https://github.com/LPATROCINIO69/DIO-shopee-cart.git
[submodule "projeto-qrcode"]
	path = projeto-qrcode
	url = https://github.com/LPATROCINIO69/DIO-Projeto-QRCode.git
[submodule "projeto-app-flow"]
	path = projeto-app-flow
	url = https://github.com/LPATROCINIO69/DIO-Project-app-flow.git
[submodule "projeto-formula-um"]
	path = projeto-formula-um
	url = https://github.com/LPATROCINIO69/DIO-Projeto-formula-um.git
